.footer_wrapper {
  
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100% auto;
  // .container-fluid {
  //   height: 15rem;
  //   overflow: hidden;
  // background: blue;
  .row-height {
    height: 240px;
    background: #000000;
    width: auto;

    .twitter,
    .discord {
      display: flex;
      height: inherit;
     

      .image {
        height: inherit;
        display: flex;
        align-items: flex-end;

        picture {
          display: flex;
          height: inherit;

          img {
            height: 88%;
          }
        }
      }

      .text {
        width: 50%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 50px;
        font-family: "Rubik";
        .btn_follow {
          background: #55acee;
        }
        .btn_join {
          background: #5865f2;
        }

        span {
          text-transform: uppercase;
          color: white;
          margin-top: 45px;
        }

        div {
          margin-bottom: 30px;
          padding: 12px 27px;
          gap: 10px;
          border: none;
          background: #ffffff;
          border-radius: 10px;
        }
        .followus {
          border: none;
          background: none;
          font-family: "HelveticaNeueLTProBlkCn";
          font-style: normal;
          font-weight: 700;
          font-size: 13px;
          line-height: 140%;
          text-transform: uppercase;
          color: #000000;
        }

        .joinus {
          border: none;
          background: none;
          font-family: "HelveticaNeueLTProBlkCn";
          font-style: normal;
          font-weight: 700;
          font-size: 13px;
          line-height: 140%;
          text-transform: uppercase;
          color: #000000;
        }
      }
    }

    .twitter {
      justify-content: space-between;
      border-right: 2px solid #0216DD;
      picture {
        align-items: flex-end;
      }
    }

    .discord {
      justify-content: space-between;
      .image {
        margin-left: 1rem;
      }

      .text {
        align-items: flex-start;
        padding-left: 50px;
      }
    }
  }

  .copyright {
    background: url("../../../assets/images/copyrightpipe.png"),radial-gradient(90% 88% at 50% 50%, #0216DD 0%, rgba(2, 22, 221, 0) 100%);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    // padding-top: 65px;
    font-family: "rubik";
    width: auto;
    height: 207px;
    color: white;
    //  width: auto;
    //   height: 100%;
    //   display: flex;
    //   justify-content: center;
    //   font-family: "Rubik";
    //   font-style: normal;
    //   font-weight: 400;
    //   font-size: 14px;

    .container {
      padding-top: 70px;
      .row {
        .copyright_right {
          gap: 25px;
        }

        .copyright_left {
          .twitt{
            height: auto;
            width: 8%;
            margin-right: 5px;
          }
          .disc{
            height: auto;
            width: 8%;

          }
          img {
            
          }

          p {
            padding-top: "25px";
          }
        }

        .support {
          padding-top: 14px;
        }

        .terms_conditions {
          padding-right: 76px;
          padding-top: 10px;
          justify-content: right;
          gap: 50px;
          color: rgba(255, 255, 255, 0.46);
          font-weight: 400;
          font-size: 15px;
        }
      }
    }
  }
}
