.community_wrp {
  margin-top: 100px;
  .container {
    .row {
      .community_para {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        color: #ffffff;
      }
      .heading {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        /* line-height: 140%; */
        text-transform: uppercase;
      }
      p {
        color: #fff;

        span {
          display: flex;
          font-family: "HelveticaNeueLTProBlkCn";
          font-style: normal;
          font-weight: 900;
          font-size: 45px;
          text-transform: uppercase;
          background: linear-gradient(
            68deg,
            #82ff05 0%,
            #eeff05 19.18%,
            #0216dd 72%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }
  }
}
