.supply_wrp {
 
  .container {
    .supply_values{
        padding-top: 60px;
    }
    p {
       
      text-align: center;
      font-family: "Rubik";
      font-style: normal;
      font-weight: 500;
      font-size: 21px;
      line-height: 45px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
    }

    .supply_num {
      font-family: "HelveticaNeueLTProBlkCn";
      font-style: normal;
      font-weight: 900;
      font-size: 70px;
    }
    img {
      height: auto;
      width: 91%;
      padding: 60px;
    }
  }
}
