.card_wrp {
  text-align: unset;
  .container {
    .card {
      h4 {
        font-family: "HelveticaNeueLTProBlkCn";
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        background: linear-gradient(40deg, #000000 0%, #4c2d8d 35%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      ul {
        li {
          position: relative;
          &::before {
            content: "";
            height: 10px;
            width: 10px;
            border-radius: 50%;
            position: absolute;
            background-color: #82ff05;
            // left: -15%;
            left: -6%;
            // top: 50%;
            top: 34%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
