.utility_wrp {
  background: url("../../../../assets//images/utility_bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;

  .glassmorphism_wrp {
    text-align: center;
    padding-top: 10%;
    position: relative;

    .glassmorphism_eth {
      position: absolute;
      top: 53%;
      left: 12%;
      height: auto;
      width: 21%;
      z-index: 2;
    }
    p {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 140%;
      text-align: center;
      text-transform: uppercase;
      background: linear-gradient(90deg, #00a3ff 0%, #0216dd 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    h3 {
      font-family: "HelveticaNeueLTProBlkCn";
      font-style: normal;
      font-weight: 900;
      font-size: 70px;
      line-height: 140%;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
    }

    .glassmorphism {
      justify-content: center;
      height: auto;
      width: 60%;
      box-sizing: border-box;
      margin-top: 60px;
      backdrop-filter: blur(25px);
      border-radius: 20px;
      background: rgba(0, 0, 0, 0.6);

      .row {
        border: 1px solid #82ff05;
        border-radius: 19px;
        padding: 65px 0px 65px 50px;

        .gap_mobile {
          gap: 24px;
          padding-right: 40px;
          .etherson_img {
            height: auto;
            width: 170px;
          }
          .uniswap_img {
            height: auto;
            width: 170px;
          }

          img {
            // height: auto;
            // width: 50%;
          }
        }
      }

      .uniswap_btn {
        border: 1px solid #fff;
        // display: flex;
        // flex-direction: row;
        // align-items: flex-start;
        padding: 10px 20px;
        // gap: 10px;
        background: #82ff05;
        border-radius: 10px;

        .text_uniswap_btn {
          height: 28px;
          font-family: "PF Din Text Comp Pro";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 140%;
          text-transform: uppercase;
          color: #ffffff;
        }
      }
      .etherson_btn {
        border: 1px solid #fff;
        // display: flex;
        // flex-direction: row;
        // align-items: flex-start;
        padding: 10px 29px;
        // gap: 10px;
        background: transparent;
        border-radius: 10px;

        .text_scan_btn {
          height: 28px;
          font-family: "PF Din Text Comp Pro";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 140%;
          text-transform: uppercase;
          color: #ffffff;
        }
      }
    }
  }

  .container {
    border-radius: 16px;
    // padding-bottom: 80px;
    padding: 0px 30px 0px 30px;
    text-align: center;
    background: #fff;
    height: auto;
    width: 75%;
    .buy_tokens {
      text-align: center;
      margin-top: 10%;
      .token_heading{
        text-transform: uppercase;
        &:nth-child(1) {
          font-family: "Rubik";
          font-style: normal;
          font-weight: 500;
          font-size: 30px;
          text-align: center;
          color: #000000;
          margin-bottom: 0;
        }
        &:nth-child(2) {
          font-family: "HelveticaNeueLTProBlkCn";
          font-style: normal;
          font-weight: 900;
          font-size: 80px;
          color: #000000;
        }
      }

      .d-flex {
        gap: 24px;
      }

      .development_wrp {
        padding: 0px 30px 0px 30px;
        .row {
          align-items: flex-start;
          p {
            font-size: 11px;
            font-weight: 400;
            font-family: "Rubik", sans-serif;
          }

          div {
            span {
              h6 {
                font-family: "Rubik";
                font-style: normal;
                font-weight: 600;
                font-size: 19px;
                line-height: 140%;
                text-transform: uppercase;
                background: linear-gradient(90deg, #48deff 0%, #0017ff 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              &:first-child {
                font-size: 140px;
                font-family: "HelveticaNeueLTProBlkCn";
                font-style: normal;
                font-weight: 900;
                font-size: 150px;
                line-height: 267px;
                text-align: center;
                text-transform: uppercase;
                -webkit-text-stroke: 4px #0216dd;
                color: white;
              }

              &:last-child {
                text-align: left;
                padding-top: 80px;
              }
            }
          }
        }
      }
    }
    h1 {
      text-align: center;
      font-family: "HelveticaNeueLTProBlkCn";
      padding-top: 60px;
      font-style: normal;
      font-weight: 900;
      font-size: 60px;
      line-height: 140%;
      text-transform: uppercase;
      color: #000000;
    }
    .card_wrp {
      display: flex;
      .row {
        text-align: center;
        padding-top: 30px;
        .col-lg-3 {
          .card {
            border: none;
            padding-top: 40px;
            &:nth-child(1) {
              background-image: url("../../../../assets/images/E.png");
              background-repeat: no-repeat;
              background-position: top center;
            }
            &:nth-child(2) {
              background-image: url("../../../../assets/images/S.png");
              background-repeat: no-repeat;
              background-position: top center;
            }
            &:nth-child(3) {
              background-image: url("../../../../assets/images/B.png");
              background-repeat: no-repeat;
              background-position: top center;
            }
            &:nth-child(4) {
              background-image: url("../../../../assets/images/U.png");
              background-repeat: no-repeat;
              background-position: top center;
            }

            .text_color {
              color: #0216dd;
              font-family: "Rubik";
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
            }
          }
          p {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            color: #000000;
          }

          h2 {
            font-family: "Rubik";
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 140%;
            text-align: center;
            text-transform: uppercase;
            background: linear-gradient(90deg, #48deff 0%, #0017ff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

    .utility_button {
      margin-top: 5%;
      align-items: center;
      padding: 14px 50px;
      font-family: "HelveticaNeueLTProBlkCn";
      gap: 10px;
      text-transform: uppercase;
      font-size: 14px;
      background: #0216dd;
      border-radius: 10px;
      color: #fff;
      border: none;
    }

    .btn_buy_mpwr {
      padding: 14px 72px;
      font-family: "HelveticaNeueLTProBlkCn";
      gap: 10px;
      background: #0216dd;
      border-radius: 10px;
      color: #fff;
      border: none;
      margin-bottom: 83px;
    }
  }
}
